<nb-card>
  <nb-card-header class="d-flex custom-header p-0 justify-content-between align-items-center flex-wrap">
    <span *ngIf="!isSearching && selectedData.length === 0" class="d-flex align-items-center pl-2 m-0">
      Réservations
    </span>
    <span *ngIf="!isSearching && selectedData.length > 0" class="d-flex align-items-center pl-3 m-0">
      <label (click)="$event.stopPropagation();" class="checkbox-container mr-2">
        <input [(ngModel)]="allSelected.checked" (change)="handleSelectAllChanged($event)" type="checkbox">
        <span class="checkmark"></span>
      </label>
      {{ allSelected.checked ? items.length : selectedData.length }} sélectionnés
    </span>
    <ngx-locatus-card-header-actions *ngIf="!isSearching" (dropdownItemClicked)="handleHeaderDropdownActionClicked($event)"
      (actionClicked)="handleHeaderActionClicked($event.action)" [actions]="headerConfig">
    </ngx-locatus-card-header-actions>
    <ngx-locatus-card-search *ngIf="isSearching" class="w-100" [fields]="searchFields" (searchChange)="onSearch($event)"
      (closeSearch)="isSearching = false"></ngx-locatus-card-search>
  </nb-card-header>
  <nb-card-body class="p-0">
    <ngx-locatus-mobile-card-header-actions *ngIf="!isSearching" (actionClicked)="handleHeaderActionClicked($event.action)"
      [actions]="headerConfig"></ngx-locatus-mobile-card-header-actions>
    <div class="border-bottom mb-3" [ngbCollapse]="isFilterCollapsed">
      <ngx-locatus-filters [config]="filters" (filtersChanged)="handleFiltersChanged($event)"></ngx-locatus-filters>
    </div>
    <div class="mt-3">
      <dtc-table (selectRowChanged)="handleSelectRowChanged($event)" [selectAll]="allSelected" [config]="tableConfig"
        [data]="data$ | async"></dtc-table>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <ngx-locatus-pagination class="w-100" [paging]="pagination$ | async" [total]="total$ | async" (changed)="paginate($event)"></ngx-locatus-pagination>
  </nb-card-footer>
</nb-card>
