/**
* Fix Dropdown
*/

.dropdown-menu {
    margin: 0 !important;
    padding: 0 !important;
    border: 1px solid #dddddd !important;
    border-radius: 0 !important;
    min-width: 150px !important;
}

.dropdown-item {
    color: black !important;
    display: flex !important;
    align-items: center !important;
    padding: 7px 10px !important;
    text-transform: none !important;
    cursor: pointer !important;
}