.payment-card {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: calc(-1rem + 12px);
}

@media (max-width: 576px) {
    .payment-card {
        margin-top: -1rem;
        margin-left: -1rem;
        margin-right: -1rem;
        margin-bottom: calc(-1rem + 12px);
    }
}
