<div class="row">
  <div class="col-md-6">
    <ngx-potential-nights></ngx-potential-nights>
  </div>
  <div class="col-md-6">
    <ngx-potential-revenues></ngx-potential-revenues>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <ngx-night-distribution-platform></ngx-night-distribution-platform>
  </div>
  <div class="col-md-6">
    <ngx-revenue-distribution-platform></ngx-revenue-distribution-platform>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ngx-revenues-expenses-stats></ngx-revenues-expenses-stats>
  </div>
</div>
